@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin-ext');
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(#3A9BD3, #fff);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* NAVIGATION */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #2883b7;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
}

header>nav>img {
    margin: 5px 0;
    padding: 10px 0;
    height: 70px;
    width: 250px;
}

header>nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
}

header>nav ul>li>a {
    color: #fff;
    line-height: 60px;
    padding: 0 20px;
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

header>nav ul>li>a:hover {
    background: rgba(67, 160, 213, 0.5);
}

header>nav>ul>li {
    display: inline-block;
}


/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    background: url("https://images.pexels.com/photos/286076/pexels-photo-286076.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
}

.slogan {
    position: absolute;
    display: inline-block;
    width: 35%;
    max-width: 800px;
    height: 30%;
    max-height: 400px;
    top: 200px;
    left: 150px;
    background: rgba(150, 192, 217, 0.4);
}

.slogan h1 {
    color: #fff;
    height: 15vh;
    line-height: 15vh;
    margin: 0 30px;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}


/* PHOTOS */

.gallery {
    margin: 150px 0;
}

.photo img {
    float: left;
    width: 30%;
    height: 280px;
    margin-right: 5%;
    object-fit: cover;
    filter: grayscale(100%);
}

.photo img:last-of-type {
    margin-right: 0;
}

.photo img:hover {
    filter: none;
    border-color: #fff;
    border: 2px;
}


/* FOOTER */

footer {
    margin-top: 100px;
    background-color: #A3CCFF;
    height: 80px;
}

footer p {
    width: 100%;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin: 0;
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    header>nav img {
        width: 25%;
    }
    .slogan {
        top: 30%;
        left: 5%;
        height: 30%;
        width: 50%;
    }
    .slogan h1 {
        font-size: 2rem;
        margin: 0 20px;
        letter-spacing: 1px;
    }
    .photo img {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .map img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header>nav ul>li>a {
        margin: 0 auto;
        width: 40%;
        line-height: 40px;
    }
    header>nav ul>li {
        display: block;
    }
    header {
        height: auto;
        position: relative;
        text-align: center;
        margin-bottom: 20px;
    }
    header>nav ul {
        float: none;
        text-align: center;
    }
    header>nav img {
        width: 80%;
    }
    .hero {
        position: relative;
    }
    .slogan {
        max-width: 600px;
        top: 10%;
        left: 5%;
        height: 30%;
        width: 65%;
    }
    .slogan h1 {
        margin: 0 10px;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .gallery {
        margin: 60px 0;
    }
    .photo img {
        float: none;
        width: 100%;
        margin: 10px 5px;
    }
    .map img {
        width: 100%;
    }
    footer {
        margin-top: 0;
    }
}